body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.sheet-music {
  font-size: 0.4em;
  margin: auto;
  max-width: 144em;
  padding-left: 16em;
}

.bar {
  background-color: #ffffff;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fstave.svg?alt=media&token=6d73b05d-90ff-47ba-ac5b-c64003ece96f");
  background-size: auto 100%;
  background-repeat: repeat-x;
  float: left;
  height: 16em;
  position: relative;
  width: 32em;
}

.bar .stave-header {
  background-color: #ffffff;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fstave-header.svg?alt=media&token=663687ea-92d0-40de-9c71-461f82926865");
  background-size: auto 100%;
  height: 16em;
  left: -16em;
  position: absolute;
  width: 16em;
}

.bar:first-child .stave-header {
  background-color: #ffffff;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fstave-header-time-signature.svg?alt=media&token=60b2a10c-ccdb-48fb-8557-f6c7000de927");
}

.bar-line {
  background-color: transparent;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fbar-line.svg?alt=media&token=a3b1e6d2-87f7-41b6-a8cf-2d55d1eca885");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 16em;
  position: absolute;
  right: 0;
  width: 1em;
}

.bold-double-bar-line {
  background-color: transparent;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fbold-double-bar-line.svg?alt=media&token=0138ada0-a9c7-4e37-bcca-03cd01a4dd6f");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 16em;
  position: absolute;
  right: 0;
  width: 1.17em;
}

.half-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.half-note-spacer {
  width: 4em;
}

.quarter-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
}

.quarter-note.b6, .quarter-note.a6, .quarter-note.g5, .quarter-note.f5, .quarter-note.e5, .quarter-note.d5, .quarter-note.c5, .quarter-note.b5 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fquarter-note-down.svg?alt=media&token=75a856ff-d689-4a2e-bdb5-011d783caba9");
}

.quarter-note.bdiese6, .quarter-note.adiese6, .quarter-note.gdiese5, .quarter-note.fdiese5, .quarter-note.ediese5, .quarter-note.ddiese5, .quarter-note.cdiese5, .quarter-note.bdiese5 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fquarter_note_down_diese.svg?alt=media&token=e3036fa5-8233-43d1-b200-43dd62cdaaa5");
  width: 5.8em;
}

.quarter-note.a5, .quarter-note.g4, .quarter-note.f4, .quarter-note.e4, .quarter-note.d4, .quarter-note.c4, .quarter-note.b4 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fquarter-note-up.svg?alt=media&token=a04a0030-5e50-48e6-8b8b-ac160d192e3f");
}

.quarter-note.adiese5, .quarter-note.gdiese4, .quarter-note.fdiese4, .quarter-note.ediese4, .quarter-note.ddiese4, .quarter-note.cdiese4, .quarter-note.bdiese4 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-compass-df2fe.appspot.com/o/images%2Fquarter_note_up_diese.svg?alt=media&token=1c2031f1-1764-410f-98be-cf7e11b0477f");
  width: 5.8em;
}

.eighth-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 2;
  height: 16em;
  justify-self: center;
  margin: 0 0.58em;
}

.three-eighth-note {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 1.58em;
  width: 4.83em;
}

.three-eighth-note-spacer {
  grid-column: span 2;
}

.b6, .bdiese6{
  transform: translate(0, -7em);
}

.a6, .adiese6{
  transform: translate(0, -6em);
}

.g5, .gdiese5{
  transform: translate(0, -5em);
}

.f5, .fdiese5{
  transform: translate(0, -4em);
}

.e5, .ediese5{
  transform: translate(0, -3em);
}

.d5, .ddiese5{
  transform: translate(0, -2em);
}

.c5, .cdiese5{
  transform: translate(0, -1em);
}

.b5, .bdiese5{
  transform: translate(0, 0);
}

.a5, .adiese5{
  transform: translate(0, 1em);
}

.g4, .gdiese4{
  transform: translate(0, 2em);
}

.f4, .fdiese4{
  transform: translate(0, 3em);
}

.e4, .ediese4{
  transform: translate(0, 4em);
}

.d4, .ddiese4{
  transform: translate(0, 5em);
}

.c4, .cdiese4{
  transform: translate(0, 6em);
}

.b4, .bdiese4{
  transform: translate(0, 7em);
}

@supports (display: grid) {
  .sheet-music {
    display: grid;
  }

  .bar {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: auto;
  }

  .half-note {
    margin: 0;
  }

  .half-note-spacer {
    grid-column: span 4;
    width: auto;
  }

  .quarter-note {
    margin: 0;
  }

  .eighth-note {
    margin: 0;
  }

  .three-eighth-note {
    margin: 0;
  }
}

@media (min-width: 0px) {
  h1 {
    font-size: 1.8em;
    margin: 0.2em 0;
  }

  .bar {
    margin: 1em 0;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 576px) {
  h1 {
    margin: 0.3em 0;
  }

  .bar {
    margin: 2em 0;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
    margin: 0.6em 0;
  }

  .bar {
    margin: 3em 0;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 992px) {
  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
    }
  }
}

@media (min-width: 1200px) {
  @supports (display: grid) {
    .sheet-music {
      max-width: 1200px;
    }
  }
}