body {
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Ensure the map is above other elements */
}

.marker {
  z-index: 2; /* Ensure markers are clickable */
}

/* Icons Container */
#icons-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between icons */
}

/* General styles for icons */
.icon-container {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  position: relative;
}

.compass-icon,
.walkie-talkie-icon,
.ranking-icon,
.notes-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative; /* Ensure the close button is positioned relative to this container */
  background-color: white;
  padding: 0;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  height: 90%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-content.ranking {
  max-height: 430px;
  width: 95%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  -webkit-tap-highlight-color: transparent;
}

.modal iframe {
  width: 100%;
  height: 100%;
  border: none;
}
